

body{
  background-color: var(--clr-neutral-light-grayish-blue);
  font-family: var(--ff-manrope);
  font-weight: var(--fw-manrope-medium);
  font-size: var(--fs-200);
}

.card{
  width: 85%;
  margin: auto;
  margin-top: clamp(5rem, 20vw, 30rem);
  background-color: white;
  border-radius: var(--fs-100);
  overflow: hidden;
  display: grid;
  position: relative;
}

.card__picture{
  height: clamp(20rem, 40vw, 40rem);
  overflow: hidden;
}

.card__img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card__content{
  position: relative;
  padding: var(--space-700) var(--space-600) var(--space-300) var(--space-600);
  font-size: 1.3125rem;
}

.card__title{
  color: var(--clr-neutral-very-dark-grayish-blue);
  font-size: var(--fs-400);
}

.card__paragraph{
  color: var(--clr-neutral-grayish-blue);
  margin-top: var(--space-300);
  margin-bottom: var(--space-600);
}

.card__status{
  display: flex;
  align-items: center;
}

.card__avatar{
  border-radius: 50%;
  max-width: var(--space-700);
}

.card__info{
  padding-left: var(--space-300);
}

.card__name{
  color: var(--clr-neutral-very-dark-grayish-blue);
}

.card__date{
  color: var(--clr-neutral-grayish-blue);
}

.card__share__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--clr-neutral-light-grayish-blue);
  cursor: pointer;
  
}

.card__share {
  line-height: 1;    
}

.popup{
  position: absolute; 
  left: 0; 
  bottom: 0;
  width: 100%;
  height: auto;
  background-color: var(--clr-neutral-very-dark-grayish-blue);
  padding-bottom: var(--space-300);
  padding-top: var(--space-300);
  
}

.popup__content{
  padding-left: var(--space-600);
  padding-right: var(--space-600);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--space-400);
}

.popup_share{
  letter-spacing: 2px;
  color: var(--clr-neutral-grayish-blue);
}

.popup__links{
  display: flex;
  gap: var(--space-300);
  margin-top: var(--space-200);
  margin-bottom: var(--space-200);
  justify-content: center;
  align-items: center;
}

.popup__link{
  width: var(--space-400);
  height: var(--space-400);
  cursor: pointer;
}

.card__share__wrapper--popup{
  background-color: var(--clr-neutral-desaturated-dark-blue);
}

.card__share--popup{ 
  filter: invert(1) brightness(2);
}

@media (min-width:53.125rem) {
  body{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .card{
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-areas: "picture content";
    margin-top: 0;
    max-width: 900px;
    overflow: visible ;
  }

  .card__picture{
    height: 300px;
    grid-area: picture;
  }

  .card__content{
    padding-right: var(--space-800);
    grid-area: content;
  }

  .card__title{
    font-size: var(--fs-500);
  }

  .card__picture{
    border-bottom-left-radius: var(--fs-100);
    border-top-left-radius: var(--fs-100);
  }

  .card__share__wrapper {
    position: relative;
  }

  .popup__content{
    width: 100%;
    padding: 0;
  }

  .popup {
    position: absolute;
    bottom: 100%; 
    left: 50%;
    transform: translateX(-50%) translateY(-12px);
    background: var(--clr-neutral-very-dark-grayish-blue);
    color: white;
    border-radius: 10px;
    display: flex;          
    align-items: center;
    gap: var(--space-200);               
    min-width: 250px;        
        
  }

  .popup::after {
    content: '';
    position: absolute;
    top: 100%;               
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid var(--clr-neutral-very-dark-grayish-blue);
  }


  .card__share__wrapper--popup{
    display: none;
  }
}